body {
    font-family: "Helvetica";
    font-size: 16px; 
}
h1 {
    font-size: 2.25em;
    line-height: 1.1;
}
h2 {
    font-size: 1.5em;
    line-height: 1.1;
    margin-top: 1.9em;
}
h3 {
    font-size: 1.125em;
    line-height: 1.1;
    margin-bottom: -1.0em;
}
small {
    font-size: 0.875;
}
p {
    margin-bottom: 1.6;
    line-height: 1.6;
    max-width: 34em; /* ~80 characters */
}
li {
    max-width:34em;
    line-height:1.6;
}

#head {
    font-family: "Sanchez", serif;
    font-size: 2.9em;
    margin-bottom: 0em;
}
#subhead  h2{
    line-height: 1.1;
    font-weight: 100;
    margin-top:0em;
    margin-bottom: 1.1em;
}
#copyright {
    line-height: 1.1;
    font-size: 0.8em;
    width: 510px;
    margin: 0 auto 0;
}

/**
 * Navigation and hyperlinks
 **/
#navigation ul{
    padding-left: 0px;
    display: inline;
}
#navigation li{
    list-style: none;
    display: inline;
}
#navigation a{
    color: rgb(252, 128, 61);
    font-style: none;
}
#navigation a:visited{
    color: rgb(252, 128, 61);
    font-style: none;
}
#navigation a:active{
    color: rgb(252, 128, 61);
    font-style: none;
}
#navigation a:hover{
    background-color: rgb(71,67,63);
    color: rgb(248, 187, 57);
}
#navigation a.activenav {
    background-color: rgb(71,67,63);
    color: rgb(248, 187, 57);
    font-style: none;
}

a,
a:active,
a:hover,
a:visited {
    color: rgb(46, 188, 107);
}
a.emphasize {
    font-weight: 250;
    font-size: 1.2em;
    line-height: 0.9em; /* note that line height needs to be small in order to allow for the increased font size and still have everything flow nicely */
}
/**
 * Layout styles, TODO move these to another css file so organisation makes more sense
 **/
#container {
    width: 510px;
    margin: 0 auto 0;
}
div #date{
    font-weight: 100;
    font-style: italic;
    margin-bottom: -15px;
}
#content {
    margin-top: 20px;
}
