<!DOCTYPE>
<html>
    <head>
        <title>{{title}}</title>
        <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/ersin/res/css/typography.css" type="text/css">
    </head>
    <body>
        <div id = "container">
