{{> head}}
        <h1 id="head">Ersin Buckley</h1>

        <span id = "subhead">
            <h2>
                <i>31 Pinfold Ave, Hamilton East</i><br />
                <i>ErsinBuckley@gmail.com</i><br />
                <i>www.ersinbuckley.com</i><br />
                <i>+64221341936</i>
            </h2>
        </span>

        <h2>Key Skills</h2>
        <ul>
            
            <li>Proficient in Python, Java, Objective C, C, C#, PHP, JavaScript, Mustache, Jinja, and SQL.</li>
            <li>Experience with version control using Git.</li>
            <li>Adept with Libraries: JQuery, Dojo, CodeIgniter, Joomla, Flask, Webapp2, UIKit, Iphone Cocos2d, Python Cocos2d and J-Unit.</li>
            <li>Design skills:</li>
            <ul>
                <li>Writing use cases and user stories.
                <li>Creating object models.
                <li>Utilising design patterns in developer discussion and system design.
                <li>Leveraging architectural patterns.
            </ul>
        </ul>

        <h2>Employment Summary</h2>
        <h3>Cold Studios</h3>

        <p>
            Sustainable Business Network questionnaire is an IPad application that was developed for the Waikato university management school.  It was used at the sustainable business network awards to provoke thought about sustainability.  For this project I worked with one additional developer and communicated with two designers to refine the user experience.
        </p>
        <p>
            Moving Mu is an IPad application that was developed for the University's public relations effort at the Mystery Creek field days.  For this project I acted as the lead developer and was in charge of system architecture and feature management.
        </p>

        <h3>PeopleSign</h3>
        <p>
            I was in charge of developing a plugin for Joomla that would allow users to add the unique PeopleSign captcha to the registration/login forms. In addition to the core Joomla plugin I developed plugins for the Kunena and Virtumart addons.
        </p>

        <h3>MagicWave Systems</h3>

        <p>
            Building a custom interface for the open source camera controlling software ZoneMinder.
            Contributing technical documentation to the wiki for the ZoneMinder software.
        </p>

        <h3>Kudos Web</h3>

        <ul>
            <li>Developing HTML/CSS for templates in Joomla.</li>
            <li>Extending joomla plugins with custom features.</li>
            <li>Migrating static websites to Joomla.</li>
            <li>Template development for Contegro content management system.</li>
            <li>Migrating a legacy cold fusion website to Joomla</li>
        </ul>

        <h2>Education Summary</h2>

        <ul>
            <li>2011-2013 University of Waikato, pursuing a Bachelor of Science major in computer science.</li>
            <li>1.5 years at Northtech (Whangarei). I was working towards a Bachelor of Applied Information Systems.</li>
            <li>Whangarei Boys High school, NCEA levels 1,2,3.</li>
            <li>Yachting New Zealand, qualified as an Assistant Instructor.</li>
        </ul>

        <div>
            <p>
            <a href ="mailto:ersinbuckley@gmail.com">Contact me</a>
            </p>
        </div>

{{> foot}}
